body {
    margin: 25px 25px 25px;
    background-color: bisque;
    font-family: "papyrus";
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

header {
    color: coral;
}

#picture {
    width: 30%; 
    height: auto; 
    border: 2px solid coral;
}

#bread-menu {
    display: flex;
}

.bread-option {
    padding-right: 10px;
}

footer {
    color: grey;
    position: absolute;
    bottom: 0px;
}


#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: purple;
    gap: 15px;
    padding: 10px;
}

.grid-item {
    color: white;
    background-color: pink ;
    text-align: center;
    padding: 25px;
}