body {
    margin: 25px 25px 25px;
    background-color: bisque;
    font-family: "papyrus";
}

.header {
    color: coral;
}

#bread-menu {
    display: flex;
}

.bread-option {
    padding-right: 10px;
}

footer {
    color: grey;
    position: absolute;
    bottom: 0px;
}