body {
    margin: 25px 25px 25px 25px;
    background-color: bisque;
    font-family: "papyrus";
}

.header {
    color: coral;
}

nav {
    display: flex;
}

.nav-element {
    padding-right: 10px;
}

footer {
    color: grey;
    position: absolute;
    bottom: 0px;
}

article {
    background-image: url(images/meerkat-aside.jpg);
    width: 500px;
    height: 500px;
    color:red;
    font-family: "arial";
}

.blur {
    backdrop-filter: blur(5px);
}
