body {
    margin: 25px 25px 25px 25px;
    background-color: bisque;
    font-family: "papyrus";
}

.header {
    color: coral;
}

nav {
    display: flex;
}

.nav-element {
    padding-right: 10px;
}

footer {
    color: grey;
    position: absolute;
    bottom: 25px;
}