body {
    margin: 25px 25px 25px 25px;
    background-color: bisque;
    font-family: "papyrus";
}

.header {
    color: coral;
}

#gallery {
    padding: 10px;
}

.gallery-image {
    height:auto;
}

footer {
    color: grey;
    position: absolute;
    bottom: 0px;
}

